<h1>Listing interfaces</h1>

<table>
  <thead>
    <tr>
      <th>From system</th>
      <th>To system</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @interfaces.each do |interface| %>
    <tr>
      <td><%= interface.from_system_id %></td>
      <td><%= interface.to_system_id %></td>
      <td><%= link_to 'Show', interface %></td>
      <td><%= link_to 'Edit', edit_interface_path(interface) %></td>
      <td><%= link_to 'Destroy', interface, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Interface', new_interface_path %>
