<p id="notice"><%= notice %></p>

<p>
  <strong>From system:</strong>
  <%= @interface.from_system_id %>
</p>

<p>
  <strong>To system:</strong>
  <%= @interface.to_system_id %>
</p>


<%= link_to 'Edit', edit_interface_path(@interface) %> |
<%= link_to 'Back', interfaces_path %>
