<%- model_class = Dataflow -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:dataset_id) %></th>
      <th><%= model_class.human_attribute_name(:from_system) %></th>
      <th><%= model_class.human_attribute_name(:to_system) %></th>
      <th><%= model_class.human_attribute_name(:frequency_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @dataflows.each do |dataflow| %>
      <tr>
        <td><%= link_to dataflow.id, dataflow_path(dataflow) %></td>
        <td><%= dataflow.dataset.name %></td>
        <td><%= dataflow.interface.from_system.name %></td>
        <td><%= dataflow.interface.to_system.name %></td>
        <td><%= dataflow.frequency.name %></td>
        <td><%=l dataflow.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_dataflow_path(dataflow), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      dataflow_path(dataflow),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_dataflow_path,
            :class => 'btn btn-primary' %>
